<% content_for :title, "Feedback" %>

<p>
  <strong>Room Number:</strong>
  <%= @feedback.room_number %>
</p>
<p>
  <strong>Positive Aspects:</strong>
  <%= @feedback.positive_aspects %>
</p>
<p>
  <strong>Could Do Better:</strong>
  <%= @feedback.could_do_better %>
</p>
<p>
  <strong>Feel Well Informed:</strong>
  <%= @feedback.feel_well_informed %>
</p>
<p>
  <strong>Please Comment:</strong>
  <%= @feedback.please_comment %>
</p>
<p>
  <strong>Aware Of Rights:</strong>
  <%= @feedback.aware_of_rights %>
</p>
<p>
  <strong>Read It In Booklet:</strong>
  <%= @feedback.read_it_in_booklet %>
</p>
<p>
  <strong>Read It In Brochure:</strong>
  <%= @feedback.read_it_in_brochure %>
</p>
<p>
  <strong>Read It In Directory:</strong>
  <%= @feedback.read_it_in_directory %>
</p>
<p>
  <strong>Understand Rights:</strong>
  <%= @feedback.understand_rights %>
</p>
<p>
  <strong>Other Comments:</strong>
  <%= @feedback.other_comments %>
</p>
<p>
  <strong>First Name:</strong>
  <%= @feedback.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @feedback.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @feedback.email %>
</p>
<p>
  <strong>Address:</strong>
  <%= @feedback.address %>
</p>
<p>
  <strong>Telephone:</strong>
  <%= @feedback.telephone %>
</p>
<p>
  <strong>Involved In Forum:</strong>
  <%= @feedback.involved_in_forum %>
</p>
<p>
  <strong>Ward Or Department:</strong>
  <%= @feedback.ward_or_department %>
</p>
<p>
  <strong>Wish To Be Contacted:</strong>
  <%= @feedback.wish_to_be_contacted %>
</p>
