<% content_for :title, "New Feedback" %>

<%= simple_form_for(@feedback) do |f| %>

  <div class="spacing">

    <% unless f.error_notification.blank? -%>
      <div class="error">
        <%= f.error_notification %>
      </div>
    <%- end -%>

    <div class="inputs">
      <%= f.input :room_number %>
      <%= f.input :positive_aspects %>
      <%= f.input :could_do_better %>
      <%= f.input :feel_well_informed, as: "select", required: true, prompt: "Please select...", input_html: { class: "form--auto" } %>
      <%= f.input :please_comment %>
      <%= f.input :aware_of_rights, as: "select", required: true, prompt: "Please select...", input_html: { class: "form--auto" } %>
      <div class="inputs" data-show="feedback_aware_of_rights" data-show-option="true">
        <h2 class="form--group--heading">How were you made aware of your Rights and Responsibilities?</h2>
        <%= f.input :read_it_in_booklet, as: "select", required: true, prompt: "Please select...", input_html: { class: "form--auto" }  %>
        <%= f.input :read_it_in_brochure, as: "select", required: true, prompt: "Please select...", input_html: { class: "form--auto" }  %>
        <%= f.input :read_it_in_directory, as: "select", required: true, prompt: "Please select...", input_html: { class: "form--auto" }  %>
        <%= f.input :understand_rights, as: "select", required: true, prompt: "Please select...", input_html: { class: "form--auto" }  %>
      </div>
      <%= f.input :other_comments %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :address %>
      <%= f.input :telephone %>
      <%= f.input :involved_in_forum, as: "select", required: true, prompt: "Please select...", input_html: { class: "form--auto" } %>
      <%= f.input :ward_or_department %>
      <%= f.input :image, as: "file", class:"button__confirm"%>
      <%= f.input :wish_to_be_contacted, as: "select", required: true, prompt: "Please select...", input_html: { class: "form--auto" } %>
      <%= recaptcha_tags %>
    </div>

    <div class="actions">
      <%= f.button :submit, class:"button button__large"%>
    </div>

  </div>

<% end %>
